* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 60px;
}

.nav {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    position: fixed; /* Fixed position at top */
    width: 100vw; /* Full width */
    top: 0;
    left: 0;
    z-index: 1000; /* Keep navbar on top */
    overflow: hidden;
    border-bottom: 2px solid #ccc;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

.nav a {
    color: #525252;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: .4rem;
    line-height: 1.5; 
    display: flex;
    align-items: center;
}

nav a:hover{
    color: #000000;
}

.products-link{
    font-size: 1.2rem;
}
.about-link{
    font-size: 1.2rem;
}

.home {
    font-size: 2rem;
}

.cart-link {
    position: relative;
    display: flex;
    align-items: center; 
}

.cart-icon{
    width: 30px; /* Adjust icon size */
    height: 30px; /* Same as above */
    vertical-align: middle;
}

/* Style for the cart count badge */
.cart-count {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 0.6em;
}

.user-link {
    position: relative;
    display: flex;
    align-items: center; 
}

.user-icon{
    width: 25px; /* Adjust icon size */
    height: 25px; /* Same as above */
    vertical-align: middle;
}